# Azure subscription vars
subscription_id = ""
client_id       = ""
client_secret   = ""
tenant_id       = ""

# Resource Group/Location
location         = "East US"
resource_group   = "Azuredevops"
application_type = "WebApplication"

# Network
virtual_network_name = "udacity-project03-vnet"
address_space        = ["10.5.0.0/16"]
address_prefix_test  = "10.5.1.0/24"

# VM
vm_size           = "Standard_B1s"
vm_admin_username = "congdinh"
packer_image_name = "udacity-ubuntu-server-image"

# Azure
public_key_path = "id_rsa.pub"

# Local
# public_key_path = "~/.ssh/id_rsa.pub"
